<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="static/css_copy/style.css?q={{ time }}" />
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>What kind of stock would you like to see?</p>
        <form method="post" action="/interactive.html">
            <input type="text" name="stock" placeholder="What kind of stock do you want to see?"/>
            
            <input type="text" name="start" placeholder="Year-month-day"/>
            
            <input type="text" name="end" placeholder="Year-month-day"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>